body {
  background: linear-gradient(rgb(197, 217, 223), rgb(22, 37, 47));
  background-size: cover;
background-repeat: no-repeat;
width: 90%;
height:95vh;
font-family: Verdana;
  color: rgb(5, 17, 22);
  text-align: center;
}

main {
  display: block;
  justify-content: center;
  margin: 16px 0 auto;
  text-align: center;
}

.poem-finder {
  border: none;
  border-radius: 6px;
  max-width: 90%;
  max-height: 5vh;
  margin: 6px 60px auto;
}

.search-text {
  border: none;
  background-color: rgb(4, 50, 69);
  color: rgb(241, 217, 189);
  font-size: 14px;
  line-height: 1.5;
  border-radius: 6px;
}

.search-button {
  border: none;
  background-color:rgb(82, 96, 74);
  color: rgb(241, 217, 189);
  font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
}

.poem {
  display: block;
  max-width: 100%;
  max-height: 80vh;
  font-size: 20px;
  line-height: 1.5;
  padding: 18px;
}

.footer-notes {
  font-sixe: 16px;
}